body{
  background-color: #FCECC9;
  margin: 2%;
  border: solid black;
  padding: 25px;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
}
#ImageView {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 500px;
  margin: 0 auto 20px;
  line-height: 500px;
  background-color: white;
  border: solid black 3px;
  font-size: 20px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  min-height: 40px;
  margin: 20px;
  
}

.gallery {
  /* display: block; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  margin: 0 auto;
  /* width: 100%; */
}
.gallery:hover .Preview:not(:hover),
.gallery:focus-within .Preview:not(:focus) {
  opacity: 0.5;
}
.gallery img{
  transition: opacity 0.3s ease;
}
.Preview:hover, .Preview:focus{
  transform: translateY(-8px);
  box-shadow: 0px 10px 20px black;
  outline: 3px solid white
}
.Preview {
  width:150px;
  border: 2px solid black;
  object-fit: cover;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}